
.leftMenu{margin: 44px 0;}
	.leftMenu li{list-style-type: none; font-weight: 500; font-size: 15px; cursor: pointer; transition: background .15s;}
	.leftMenu li:last-child{margin: 0;}
		.leftMenu li a{color: #555; padding: 14px 23px 14px 23px; display: block;}
		.leftMenu li a:hover{background: #EAEAEA;}

	.leftMenu li.selected a{background: #E2E2E2;}