
.partners{margin: 0 0 45px 0;}
	.partnersSection{margin: 0 0 40px 0;}
	.partnersSection:last-child{margin: 0;}
	
		.partnersTitle{display: inline-block; width: 31.33%; margin: 0 3% 3% 0; background: #555; color: #fff; height: 305px; padding: 30px;
			box-sizing: border-box; overflow: hidden;
		}
			.partnersTitle h2{padding: 0 0 22px 0; font-size: 23px;}	
			.partnersTitle p{line-height: 1.5;}
		

		.partnersElement{display: inline-block; vertical-align: top; width: 31.33%; padding: 30px; box-sizing: border-box; min-height: 305px;
			background: #fff; box-shadow: 0 1px 1px rgba(0,0,0, .12); border-radius: 1px; margin:0 3% 3% 0;
		}
		.partnersElement:nth-child(3n){margin-right: 0;}

			.partnersElement .text{text-align: center; font-weight: 500;}
				.partnersElement .imgWrapp {margin: 0 0 30px 0; border-bottom: 1px solid #eaeaea;}
					.partnersElement img{margin: 0 auto; display: block; padding: 0 0 30px 0; max-height: 60px;}
				.partnersElement .text .name{margin:0 0 50px 0; font-weight: 700; font-size: 17px;}
				.partnersElement .text .phone{margin:0 0 5px 0;}
				.partnersElement .text .email{color: #EF6C00;}


@media all and (max-width: 1120px) {
	.partnersElement, .partnersTitle{padding: 20px;}
		.partnersElement .text .name{font-size: 15px;}
		.partnersElement .text .phone, .partnersElement .text .email{font-size: 13px;}
}

@media all and (max-width: 1060px) {
	.partnersTitle, .partnersElement{width: 47%; margin: 0 6% 6% 0; padding: 30px;}
		.partnersElement .text .name{font-size: 17px;}
		.partnersElement .text .phone, .partnersElement .text .email{font-size: 15px;}
	.partnersElement:nth-child(3n){margin-right: 6%;}
	.partnersElement:nth-child(2n){margin-right: 0;}
}

@media all and (max-width: 900px) {
	.partnersTitle, .partnersElement{width: 31.33%; margin: 0 3% 3% 0;}
		.partnersElement .text .name{font-size: 15px;}
		.partnersElement .text .phone, .partnersElement .text .email{font-size: 13px;}
	.partnersElement:nth-child(2n){margin-right: 3%;}
	.partnersElement:nth-child(3n){margin-right: 0;}
}

@media all and (max-width: 800px) {
	.partnersTitle, .partnersElement{width: 47%; margin: 0 6% 6% 0; padding: 30px;}
		.partnersElement .text .name{font-size: 17px;}
		.partnersElement .text .phone, .partnersElement .text .email{font-size: 15px;}
	.partnersElement:nth-child(3n){margin-right: 6%;}
	.partnersElement:nth-child(2n){margin-right: 0;}
}

@media all and (max-width: 630px) {
	.partnersElement .text .name{font-size: 15px;}
	.partnersElement .text .phone, .partnersElement .text .email{font-size: 13px;}
}

@media all and (max-width: 560px) {
	.partnersElement, .partnersTitle{padding: 20px;}
}

@media all and (max-width: 480px) {
	.partnersTitle, .partnersElement{width: 100%; margin: 0 0 20px 0 !important; padding: 30px;}
		.partnersElement .text .name{font-size: 17px;}
		.partnersElement .text .phone, .partnersElement .text .email{font-size: 15px;}
}