// Color
$color1: rgb(33, 36, 25);
$color2: rgb(59, 59, 59);
$color3: rgb(222, 240, 240);
$color4: rgb(252, 69, 101);
$color5: rgb(83, 85, 70);
$color6: rgb(204, 147, 133);
$color7: rgb(135, 185, 186);
$white: #fff;
$black: #000;